@page "/About"

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">О Нас</h1>
            <p class="lead text-muted">Наш интернет магазин - это одина из крупных книжных сетей в России. Компания входит в объединённую розничную сеть «Читай-город» – «Гоголь-Моголь» – «Буквоед». Мы не просто продаём книги, а разделяем любовь наших покупателей к чтению. Мы знаем, как быстро летит время в компании с новинкой любимого автора и как сильно хочется растянуть это удовольствие. </p>

        </div>
    </div>
</section>
<div class="kartinka">
    <img src="https://sun9-37.userapi.com/impf/iiKXPK54_ECioKIoNPMDmLBF-34EMPuUXFNdHA/KZiGzAQUnoM.jpg?size=2560x1440&quality=96&sign=1a1ddbb4fba3289bf45609bae4642d1d&type=album"/>
    </div>