@page "/"
@using BookStore.Models
@using System.Linq
@using Microsoft.EntityFrameworkCore;
@inject BookStoreContext DB
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="bd-placeholder-img" src="https://catherineasquithgallery.com/uploads/posts/2021-02/1614390685_20-p-kniga-na-temnom-fone-27.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
            <div class="container">
                <div class="carousel-caption">
                    <h1>В нашем интернет магазине  свыше 100000 книг</h1>
                    <p>В вашем расположении новинки современных авторов, classic и многое другое</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="bd-placeholder-img" src="https://img5.goodfon.ru/original/1920x1408/5/94/books-knigi-biblioteka-lampy-lampa-svet-polki-uiut.jpg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Найдем любую книгу под заказ</h1>
                    <p>Поиск книг, журналов, комиксов</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (var book in Books)
            {
                <div class="col">
                    <div class="card shadow-sm">
                        <img class="bd-placeholder-img card-img-top"src=@($"images/Book{book.Id}.png") aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"/>

                        <div class="card-body">
                            <p class="card-text"><b><font size="4">@book.Name</font></b> </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a href=@($"/Kniga/{book.Id}")> Подробнее </a>
                                </div>
                                <small class="text-muted">Bruh</small>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>

@code {
    List<Models.Book> Books = new();

    protected override async Task OnInitializedAsync()
    {
        Books = DB.Books.ToList();

    }

} 