body {
    background-color: white;
}
.navbar {
    background-color: #2e4553;
    color: #fff;
}
.nav-item {
    color: #fff;
    
}
.navbar1 {
    background-color: #2e4553;
    padding-left: 60%;
}

.bg-light {
    background-color: #2e4553 !important;
    color: #fff !important;
}
#white{
    color: #fff;
 
}


.nav-link {
    color: white;
}


.button-header {
    border: 1px solid #fff;
    background-color: #2e4553;
    width: 110%;
    transition: 0.3s ease all;
}
.button-header:hover {
    background-color: #fff;
    color: #2e4553;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

